*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:rgba(35, 28, 26, 0.1);
    height: 80px;
    width: 100%;
    position: fixed;
}
h1{
    color: white;
    position: absolute;
    left: 120px;
    top: -20px;
    line-height: 80px;
    background-image: url(images/未标题-final.jpg);
    background-repeat:no-repeat ;
    background-position: center;
    background-size: 150px 150px;;
    width: 110px;
    height: 100px;
    text-indent:-999px;
}
header ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}
header li{
    display: inline;
     margin-right:4vw ;
}
header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
.footer{
    background-color:wheat ;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.menu{
    display: none;
 }
 .menu{
        display: block;
        background-color: transparent;
        color: white;
        font-size: 30px;
        position: absolute;
        top: 15px;
        left: 20px;
        border: none;
        cursor: pointer;
    }
    .footer{
    background-color:wheat ;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
    .start2{
    background-color: antiquewhite;
    color: white;
    height: 100vh;
    background-image:url("images/自然 (45).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}