/* 区域边距 */
*{
    margin: 0;
    padding: 0;
}
/* 导航栏 */
header{
    background-color:rgba(35, 28, 26, 0.1);
    height: 80px;
    width: 100%;
    position: fixed;
}
/* 导航栏logo */
h1{
    color: white;
    position: absolute;
    left: 120px;
    top: -20px;
    line-height: 80px;
    background-image: url(images/未标题-final.jpg);
    background-repeat:no-repeat ;
    background-position: center;
    background-size: 150px 150px;;
    width: 110px;
    height: 100px;
    text-indent:-999px;
}
/* 导航栏选项 */
header ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}
/* 导航栏子选项 */
header li{
    display: inline;
     margin-right:4vw ;
}
/* 子选项超链接：颜色/取消下划线 */
header a{
    color: white;
    text-decoration: none;
}
/* 子选项触碰显示下划线 */
header a:hover{
    text-decoration: underline;
}
/* 网页背景 */
.start{
    background-color: antiquewhite;
    color: white;
    height: 100vh;
    background-image:url("images/DSC_0515.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* 页尾版权说明设置 */
.footer{
    background-color:wheat ;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.start h2 {  
        color: #333;
        height: 400px;
        font-size: 40px;
        position: fixed;
    }
.start h3{
    font-size: 30px;
    height: 200px;
    position: fixed;
    }
 .start p{
padding-right: 135px;
    color: #333;
    position: relative;
 }
 /* 超链接边框 */
 .start a{
    color:black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    position: fixed;
 }
 .start a:hover{
    background-color:rgba(red, green, blue, 0.1);
    color: white;
 }

 /* 下拉菜单默认隐藏 */
 .menu{
    display: none;
 }
 .dropdown-content {
    display: none;
}
 /* 网页缩放时隐藏导航栏并提供下拉菜单 */
@media screen and (max-width: 768px) {
    header{
        height: 60px;
    }
    h1{
        left: 50%;
        transform: translateX(-50%);
    }
    header ul{
        display: none;
    }
    header li{
        margin-right:2vw ;
    }
    .start h2 {
        font-size: 40px;
    }
    .start h3{
        font-size: 20px;
    }
    .start p{
        font-size: 16px;
    }
    .menu{
        display: block;
        background-color: transparent;
        color: white;
        font-size: 30px;
        position: absolute;
        top: 15px;
        left: 20px;
        border: none;
        cursor: pointer;
    }
    .dropdown {
    position: relative;
    display: outline-block;
}
/* 下拉内容 (默认隐藏) */
.dropdown-content {
    position: fixed;
    background-color: rgba(red, green, blue, 0.1);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
}

/* 下拉菜单的链接 */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover {
    background-color:wheat;
    color: black;
}

/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}
}
